.alignRight {
   text-align: right;
   text-wrap: nowrap;
}

.darkColor {
   color: var(--color-gray-darkest);
   font-weight: 500;
}

.jobItem {
   width: 100%;
   min-height: 94px;

   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   gap: 16px;

   padding: 22.75px;

   color: var(--color-gray-dark);
   background-color: var(--color-white);

   border: 1px solid var(--color-gray-light);
   border-radius: 5px;
}

.jobContent {
   display: flex;
   gap: 26px;
}

.imageContainer {
   width: 46px;
   min-width: 46px;
   height: 46px;
}

.jobTitle {
   color: var(--color-gray-darkest);

   font-size: 20px;
   font-weight: 600;
   line-height: 130%; /* 26px */
   letter-spacing: -0.4px;
}

.jobDetails {
   display: flex;
}

.topDetails,
.middleDetails,
.bottomDetails {
   text-wrap: nowrap;
   margin-top: 8px;
   display: flex;
}

.jobDetail {
   display: block;
   padding-inline: 14px;

   border-right: 1px solid var(--color-gray-light);
}

.jobDetailFirst {
   padding-left: 0;
}

.jobSalary {
   border: none;
   color: var(--color-accent);
}

@media only screen and (min-width: 768px) and (max-width: 1186px) {
   .jobDetails {
      flex-direction: column;
   }

   .jobDetail:first-child {
      padding-left: 0;
   }

   .jobDetail:last-child {
      border: none;
   }

   .topDetails {
      margin-top: 8px;
   }

   .middleDetails,
   .bottomDetails {
      margin-top: 4px;
   }
}

@media only screen and (min-width: 768px) and (max-width: 841px) {
   .jobItem {
      gap: 0;
   }

   .jobTitle {
      margin-right: 16px;
   }

   .topDetails,
   .middleDetails {
      gap: 4px;
      flex-direction: column;
   }

   .jobDetail {
      padding-left: 0;
      border: none;
   }
}

@media only screen and (max-width: 768px) {
   .jobItem {
      display: block;
   }

   .jobContent {
      gap: 12px;
      width: 100%;
   }

   .imageContainer {
      width: 32px;
      min-width: 32px;
      height: 32px;
   }

   .jobTitle {
      margin-bottom: 16px;
   }

   .jobDetails {
      margin-top: 0;

      flex-direction: column;
      gap: 8px;
   }

   .jobDetailsMobile {
      display: flex;
   }

   .bottomWrapperMobile {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      margin-top: 24px;
   }
}

@media only screen and (max-width: 325px) {
   .jobDetailsMobile {
      flex-direction: column;
   }

   .jobDetail {
      padding: 0;
      border: none;
      margin-bottom: 8px;
   }

   .jobDetail:last-child {
      margin-bottom: 0;
   }
}
