.filtersTopWrap {
   border: 1px solid var(--color-gray-light);
   border-radius: 5px;
   margin: 0 auto;
   padding: 24px;
   min-width: 225px;

   size: 14px;
   line-height: 18.2px;
}

.filtersTopWrapSmall {
   margin: 10px;
}

.filtersBlock {
   border-bottom: 1px solid var(--color-gray-light);
   padding-bottom: 25px;
   padding-top: 25px;
}

.topBlock {
   padding-top: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.sliderBlock {
   border-bottom: none;
   padding-bottom: 0px;
}

.filtersTitle {
   font-weight: 600;
   size: 16px;
   line-height: 16px;
   letter-spacing: -0.05em;
}

.titleOfBlock {
   padding-bottom: 20px;
   display: flex;
   font-size: 12px;
   font-weight: 600;
   line-height: 12px;
   letter-spacing: 0em;
}

.blockGrid {
   gap: 12px;
   display: grid;
   justify-items: start;
   grid-template-columns: 1fr 1fr;
}

.blockGridMobile {
   gap: 24px;
   grid-template-columns: auto 1fr;
   grid-template-rows: 36px;
}
