.mainScreen {
   display: flex;
}

.filtersSection {
   margin-block: 43px;
   margin-inline: 37px;
}

.filtersSection h1 {
   margin-bottom: 40px;

   font-size: 27px;
   font-weight: 700;
   line-height: 100%; /* 27px */
   letter-spacing: -1.89px;
}

.mainLink{
   color: var(--color-gray-darkest);
   text-decoration: none;
}

.mainLink:hover{
   color: var(--color-accent-strong);
   text-decoration: underline;
}

@media only screen and (max-width: 768px) {
   .mainScreen {
      flex-direction: column;
   }

   .filtersSection {
      margin: 16px;
   }

   .filtersSection h1 {
      margin: 0;
   }
}
