:root {
   /* colors */
   --color-white: #fff;

   --color-gray-lightest: #f8f8f8;
   --color-gray-light: #dadada;
   --color-gray-medium: #bcbcbc;
   --color-gray-dark: #545454;
   --color-gray-darkest: #212121;

   --color-gray-outline: #54545433;

   --color-accent: #9564d4;
   --color-accent-strong: #552882;

   --color-backdrop: #00000033;

   /* effects */
   --border-radius-default: 5px;
   --shadow-checkbox: 0px 0px 4px 0px #9564d466;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Poppins', sans-serif;
   color: var(--color-gray-darkest);
}

li {
   list-style-type: none;
}

img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

span {
   font-size: 12px;
   font-weight: 400;
   font-weight: 500;
   line-height: 100%; /* 12px */
}

hr {
   margin-block: 20px;
   border: none;
   border-top: 1px solid var(--color-gray-light);
}
