.buttonStyle {
   border: none;
   font-family: Poppins;
   font-size: 12px;
   font-weight: 500;
   line-height: 12px;
   letter-spacing: 0em;
   padding: 10px 25px 10px 25px;
   border-radius: 30px;
   gap: 10px;

   transition: background-color 0.2s;
   cursor: pointer;
}

.buttonPrimary {
   color: var(--color-white);
   background-color: var(--color-accent-strong);
}

.buttonPrimary:hover {
   background-color: var(--color-accent);
}

.buttonText {
   color: var(--color-accent-strong);
   background-color: transparent;
}

.buttonText:hover {
   background-color: var(--color-gray-lightest);
}
