.buttonStyle {
   border: none;
   font-family: Poppins;
   font-size: 14px;
   font-weight: 500;
   line-height: 12px;
   letter-spacing: 0em;
   padding: 10px 25px 10px 25px;
   border-radius: 30px;
   gap: 10px;

   transition: background-color 0.2s;
   cursor: pointer;
}

.buttonPrimary {
   color: var(--color-white);
   background-color: var(--color-accent-strong);
}

.buttonPrimary:hover {
   background-color: var(--color-accent);
}

.buttonText {
   font-size: 12px;
   color: var(--color-accent-strong);
   background-color: transparent;
}

.buttonText:hover {
   background-color: var(--color-gray-lightest);
}

.buttonFilters,
.buttonFiltersActive {
   padding-inline: 16px;
   font-size: 16px;
   font-weight: 600;
   line-height: 100%;
   letter-spacing: -0.8px;
}

.buttonFilters {
   background: transparent;
   border: 1px solid var(--color-accent);
}
.buttonFiltersActive {
   background: var(--color-gray-lightest);
   border: 1px solid var(--color-gray-lightest);
}
